html
	head
		title Type - type.nikerino.com
		
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='./css/main.css')
		
		//- script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.1.min.js')
		//- script(type='text/javascript', src='https://vuejs.org/js/vue.js')
		script(type='text/javascript', src='./js/bundle.js')

		link(rel='icon', type='image/png', href='/ico/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/ico/favicon-16x16.png', sizes='16x16')


	body#app
		.wrapper
			play-arena

			.footer
				hr.line
				.title Type