html
	head
		title Type - type.nikerino.com
		
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='./css/main.css')
		
		//- script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.1.min.js')
		//- script(type='text/javascript', src='https://vuejs.org/js/vue.js')
		script(type='text/javascript', src='./js/bundle.js')

		link(rel='icon', type='image/png', href='/ico/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/ico/favicon-16x16.png', sizes='16x16')


	body#app
		.wrapper
			.progress-wrap
				.progress(v-bind:style='{width: stats_progress}')
		
			.numbers
				.time
					i.fa.fa-clock-o
					|  {{ stats_time }}
				.wpm
					.amount {{ stats_wpm }}
					.muted wpm
				.accuracy 
					| {{ stats_accuracy }}<span class='muted'>%</span> 
					i.fa.fa-crosshairs
			.editor() 
				//- :style='{display: (done)? "none" : ""}'
				.overlay(:style='{display: (!blurred || done)? "none" : "flex"}')
					
					.message re-focus to resume typing...
				
				.text(:style='textTransform')
					
					.line(v-for='line in lines'
					track-by='$index'
					id='line-{{ $index }}')
						
						span.char(v-for='char in line'
						track-by='$index'
						id='char-{{ getCharId($parent.$index, $index) }}' 
						:class='[charClasses[getCharId($parent.$index, $index)], (char == " ")? "space" : "", (getCharId($parent.$index, $index) == current_id)? "current" : ""]')
							| {{ (char == ' ')? "&middot;" : char }}


					//-span.char(v-for='char in text', track-by="$index", id='char-{{ $index }}')
						| {{ (char == ' ')? "&nbsp;" : char }}
					//-
						.char.correct H
						.char.correct e
						.char.wrong l
						.char.correct l
						.char.current o
						.char &nbsp;
						.char W
						.char o
						.char r
						.char l
						.char d
						.char !

				//- input.input

			//-.keyboard

			.footer
				hr.line
				.title Type